<a href="https://colab.research.google.com/github/ajayvarande20/Development-of-Interactive-Cyber-Threat-Visualization-Dashboard/blob/master/SQLTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SQL(Structured Query Language)**

## Information about SQL and its Commands

SQL, which stands for Structured Query Language, is a standard language for storing, manipulating, and retrieving data in relational databases. It's the language used to communicate with databases.

SQL commands are primarily categorized into several types, each serving a distinct purpose:

*   **Data Definition Language (DDL)**: Used to define database structures or schemas.
    *   `CREATE`: To create databases, tables, indexes, views, stored procedures, functions, and triggers.
    *   `ALTER`: To modify existing database objects, such as adding, deleting, or modifying columns in a table.
    *   `DROP`: To delete entire databases, tables, or views.

*   **Data Manipulation Language (DML)**: Used for managing data within schema objects.
    *   `SELECT`: To retrieve data from one or more tables.
    *   `INSERT`: To add new rows of data into a table.
    *   `UPDATE`: To modify existing data within a table.
    *   `DELETE`: To remove rows of data from a table.

*   **Data Control Language (DCL)**: Used to control access to data within the database.
    *   `GRANT`: To give users specific privileges (like SELECT, INSERT, UPDATE) on database objects.
    *   `REVOKE`: To remove user privileges.

*   **Transaction Control Language (TCL)**: Used to manage transactions within the database.
    *   `COMMIT`: To save all changes made by the transaction.
    *   `ROLLBACK`: To undo changes made by the transaction.
    *   `SAVEPOINT`: To set a point within a transaction to which you can later roll back.

In essence, SQL allows you to perform a wide range of operations on your database, from defining its structure to querying and managing the data it contains.

# Task
Establish a connection to an in-memory SQLite database to demonstrate SQL operations.

## Establish SQL Connection

### Subtask:
Establish a connection to an in-memory SQLite database to perform SQL operations without needing external files or complex setup. This will serve as our environment for demonstrating queries.

**Reasoning**:
To establish an in-memory SQLite database connection, I need to import the `sqlite3` module and then call its `connect()` method with `':memory:'` as the argument. This will allow for in-memory SQL operations.

In [ ]:
import sqlite3

# Establish a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

print("Connection to in-memory SQLite database established successfully.")

Connection to in-memory SQLite database established successfully.

## Create Sample Dataset (DDL - CREATE TABLE)

### Subtask:
Demonstrate the `CREATE TABLE` command to define the schema and create a sample table (e.g., `employees`) with a few columns and appropriate data types. This will be our small dataset.

**Reasoning**:
To create the `employees` table as specified, I will obtain a cursor, define the SQL `CREATE TABLE` statement with the required columns and data types, execute the statement, and then print a success message.

In [ ]:
cursor = conn.cursor()

create_table_sql = """
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    salary INTEGER
)
"""

cursor.execute(create_table_sql)

print("Table 'employees' created successfully.")

Table 'employees' created successfully.

## Insert Data (DML - INSERT)

### Subtask:
Show how to use the `INSERT INTO` command to add several rows of data into the newly created `employees` table, populating our small dataset.

**Reasoning**:
To insert multiple rows of data into the `employees` table, I need to define the data as a list of tuples, construct an `INSERT INTO` SQL statement with placeholders, and then use `cursor.executemany()` to efficiently insert all the rows. Finally, I must commit the changes to persist them in the database.

In [ ]:
employees_data = [
    (1, 'Alice', 60000),
    (2, 'Bob', 75000),
    (3, 'Charlie', 80000)
]

insert_sql = "INSERT INTO employees (id, name, salary) VALUES (?, ?, ?)"

cursor.executemany(insert_sql, employees_data)

conn.commit()

print("Data inserted into 'employees' table successfully.")

IntegrityError: UNIQUE constraint failed: employees.id

## Retrieve Data (DML - SELECT)

### Subtask:
Explain and demonstrate the `SELECT` command, including basic retrieval (`SELECT *`), selecting specific columns, and filtering data using `WHERE` clauses. This will showcase how to query the dataset.

**Reasoning**:
To demonstrate basic data retrieval using `SELECT *`, I will define an SQL query to select all columns from the `employees` table, execute it, and print the fetched results.

In [ ]:
print("\n--- SELECT * FROM employees ---")
select_all_sql = "SELECT * FROM employees"
cursor.execute(select_all_sql)
result_all = cursor.fetchall()
for row in result_all:
    print(row)

--- SELECT * FROM employees ---
(1, 'Alice', 60000)
(2, 'Bob', 75000)
(3, 'Charlie', 80000)

**Reasoning**:
To demonstrate selecting specific columns, I will define an SQL query to retrieve only the `name` and `salary` columns from the `employees` table, execute it, and print the fetched results.

In [ ]:
print("\n--- SELECT name, salary FROM employees ---")
select_specific_columns_sql = "SELECT name, salary FROM employees"
cursor.execute(select_specific_columns_sql)
result_specific = cursor.fetchall()
for row in result_specific:
    print(row)

--- SELECT name, salary FROM employees ---
('Alice', 60000)
('Bob', 75000)
('Charlie', 80000)

**Reasoning**:
To demonstrate filtering data with a `WHERE` clause, I will define an SQL query to select employees whose `salary` is greater than 70000, execute it, and print the fetched results.

In [ ]:
print("\n--- SELECT name, salary FROM employees WHERE salary > 70000 ---")
select_filtered_sql = "SELECT name, salary FROM employees WHERE salary > 70000"
cursor.execute(select_filtered_sql)
result_filtered = cursor.fetchall()
for row in result_filtered:
    print(row)

--- SELECT name, salary FROM employees WHERE salary > 70000 ---
('Bob', 75000)
('Charlie', 80000)

## Update Data (DML - UPDATE)

### Subtask:
Illustrate the `UPDATE` command to modify existing data in the `employees` table, explaining how to target specific rows with `WHERE`.

**Reasoning**:
To demonstrate the `UPDATE` command, I will construct an SQL query to modify an existing employee's salary, execute it, commit the changes, and then retrieve all data from the table to verify the update.

In [ ]:
print("\n--- Updating Bob's salary ---")
update_sql = "UPDATE employees SET salary = ? WHERE name = ?"
cursor.execute(update_sql, (85000, 'Bob'))
conn.commit()

print("--- Employees after update ---")
cursor.execute("SELECT * FROM employees")
result_after_update = cursor.fetchall()
for row in result_after_update:
    print(row)

--- Updating Bob's salary ---
--- Employees after update ---
(1, 'Alice', 60000)
(2, 'Bob', 85000)
(3, 'Charlie', 80000)

## Delete Data (DML - DELETE)

### Subtask:
Show the `DELETE FROM` command to remove specific rows from the table, emphasizing the importance of the `WHERE` clause to prevent accidental mass deletion.

#### Reasoning:
To demonstrate the `DELETE` command, I will construct an SQL query to remove a specific employee from the `employees` table, execute it, commit the changes, and then retrieve all data from the table to verify the deletion. This emphasizes the use of the `WHERE` clause to target specific rows.

**Reasoning**:
To demonstrate the `DELETE` command, I will write Python code that executes an SQL DELETE statement to remove a specific row from the `employees` table, commits the transaction, and then verifies the deletion by selecting all remaining rows.

In [ ]:
print("\n--- Deleting Charlie from employees ---")
delete_sql = "DELETE FROM employees WHERE name = ?"
cursor.execute(delete_sql, ('Charlie',))
conn.commit()

print("--- Employees after deletion ---")
cursor.execute("SELECT * FROM employees")
result_after_delete = cursor.fetchall()
for row in result_after_delete:
    print(row)

--- Deleting Charlie from employees ---
--- Employees after deletion ---
(1, 'Alice', 60000)
(2, 'Bob', 85000)

## Modify Table Structure (DDL - ALTER TABLE)

### Subtask:
Demonstrate the `ALTER TABLE` command to add a new column to the `employees` table, explaining how DDL commands change table schema.

**Reasoning**:
To demonstrate the `ALTER TABLE` command, I will construct an SQL query to add a new `department` column of type `TEXT` to the `employees` table with a `DEFAULT` value of 'Unassigned'. After executing the `ALTER TABLE` statement and committing the changes, I will retrieve all data from the `employees` table using `SELECT *` to verify that the new column has been added and contains the default values for existing rows.

**Reasoning**:
Now that the reasoning is established, I will write the Python code to execute the `ALTER TABLE` command, adding the `department` column to the `employees` table with a default value, commit the changes, and then display the updated table contents to verify the modification.

In [ ]:
print("\n--- Altering table to add 'department' column ---")
alter_table_sql = "ALTER TABLE employees ADD COLUMN department TEXT DEFAULT 'Unassigned'"
cursor.execute(alter_table_sql)
conn.commit()

print("Column 'department' added successfully. Displaying updated employees table:")
cursor.execute("SELECT * FROM employees")
result_after_alter = cursor.fetchall()
for row in result_after_alter:
    print(row)

--- Altering table to add 'department' column ---
Column 'department' added successfully. Displaying updated employees table:
(1, 'Alice', 60000, 'Unassigned')
(2, 'Bob', 85000, 'Unassigned')

## Explain DCL Commands (GRANT/REVOKE)

### Subtask:
Provide a conceptual explanation of Data Control Language (DCL) commands like `GRANT` and `REVOKE`, as they are typically database-specific and not fully functional in a simple in-memory SQLite environment. Focus on their purpose for access control.

### Data Control Language (DCL) Commands: GRANT and REVOKE

Data Control Language (DCL) commands are an essential part of SQL used to manage permissions and access rights to database objects. They ensure database security by controlling who can perform what actions on the data.

*   **`GRANT`**: The `GRANT` command is used to provide specific privileges on database objects to users or roles. These privileges can include actions such as `SELECT` (to read data), `INSERT` (to add new data), `UPDATE` (to modify existing data), and `DELETE` (to remove data) on tables, views, or other database entities. For example, `GRANT SELECT ON employees TO user_data_analyst;` would allow `user_data_analyst` to view data in the `employees` table.

*   **`REVOKE`**: Conversely, the `REVOKE` command is used to remove privileges that were previously granted to users or roles. This is crucial for maintaining security and adjusting access levels as roles and responsibilities change. For example, `REVOKE INSERT ON employees FROM user_data_analyst;` would prevent `user_data_analyst` from adding new data to the `employees` table.

It's important to note that while DCL commands are fundamental to database management, they are more relevant and fully functional in multi-user, persistent database systems like PostgreSQL, MySQL, or Oracle. In a simple in-memory SQLite database environment, these commands are not typically fully demonstrated. SQLite is a lightweight, file-based, and often single-user database, lacking the robust user management and permission systems found in larger client-server database systems. Therefore, the conceptual understanding of `GRANT` and `REVOKE` for access control is key, even if their practical application is limited in this specific SQLite context.

## Demonstrate TCL Commands (COMMIT/ROLLBACK)

### Subtask:
Illustrate Transaction Control Language (TCL) commands such as `COMMIT` and `ROLLBACK` by performing a series of DML operations within a transaction and then either saving or undoing them.

**Reasoning**:
To demonstrate `ROLLBACK`, I will insert a new employee, then query the table to show the insertion, and finally call `conn.rollback()` to undo the changes. To demonstrate `COMMIT`, I will insert another employee and then call `conn.commit()` to save the changes, verifying both operations with `SELECT *` queries.

In [ ]:
print("\n--- Demonstrating ROLLBACK ---")
# Start a transaction (implicitly, by performing DML)
# Insert 'David' to demonstrate rollback
insert_david_sql = "INSERT INTO employees (id, name, salary, department) VALUES (?, ?, ?, ?)"
cursor.execute(insert_david_sql, (4, 'David', 70000, 'Marketing'))

print("\n--- Employees after inserting David (before rollback) ---")
cursor.execute("SELECT * FROM employees")
result_before_rollback = cursor.fetchall()
for row in result_before_rollback:
    print(row)

# Rollback the transaction
conn.rollback()
print("Transaction rolled back. David should not be in the table.")

print("\n--- Employees after ROLLBACK ---")
cursor.execute("SELECT * FROM employees")
result_after_rollback = cursor.fetchall()
for row in result_after_rollback:
    print(row)


print("\n--- Demonstrating COMMIT ---")
# Start a new transaction
# Insert 'Eve' to demonstrate commit
insert_eve_sql = "INSERT INTO employees (id, name, salary, department) VALUES (?, ?, ?, ?)"
cursor.execute(insert_eve_sql, (5, 'Eve', 90000, 'HR'))

# Commit the transaction
conn.commit()
print("Transaction committed. Eve should be permanently in the table.")

print("\n--- Employees after COMMIT ---")
cursor.execute("SELECT * FROM employees")
result_after_commit = cursor.fetchall()
for row in result_after_commit:
    print(row)

--- Demonstrating ROLLBACK ---

--- Employees after inserting David (before rollback) ---
(1, 'Alice', 60000, 'Unassigned')
(2, 'Bob', 85000, 'Unassigned')
(4, 'David', 70000, 'Marketing')
Transaction rolled back. David should not be in the table.

--- Employees after ROLLBACK ---
(1, 'Alice', 60000, 'Unassigned')
(2, 'Bob', 85000, 'Unassigned')

--- Demonstrating COMMIT ---
Transaction committed. Eve should be permanently in the table.

--- Employees after COMMIT ---
(1, 'Alice', 60000, 'Unassigned')
(2, 'Bob', 85000, 'Unassigned')
(5, 'Eve', 90000, 'HR')

## Remove Table (DDL - DROP TABLE)

### Subtask:
Conclude the DDL demonstration by using the `DROP TABLE` command to permanently remove the `employees` table from the database.

**Reasoning**:
To permanently remove the `employees` table and demonstrate its deletion, I will define an SQL query using `DROP TABLE IF EXISTS employees`, execute it, commit the changes, and then attempt to query the `employees` table. I will include error handling for `sqlite3.OperationalError` to show that the table no longer exists.

**Reasoning**:
Now that the reasoning is established, I will write Python code to execute the `DROP TABLE IF EXISTS` command, commit the changes, and then attempt to query the dropped table to gracefully catch the expected `sqlite3.OperationalError`, fulfilling all instructions for this subtask.

In [ ]:
print("\n--- Attempting to drop the 'employees' table ---")
drop_table_sql = "DROP TABLE IF EXISTS employees"
cursor.execute(drop_table_sql)
conn.commit()

print("Table 'employees' dropped successfully.\n")

print("--- Verifying table deletion (expecting error) ---")
try:
    cursor.execute("SELECT * FROM employees")
    # This line should not be reached if the table is dropped
    print("Query successful, table still exists (unexpected).")
except sqlite3.OperationalError as e:
    print(f"Caught expected error: {e}. The 'employees' table no longer exists.")

--- Attempting to drop the 'employees' table ---
Table 'employees' dropped successfully.

--- Verifying table deletion (expecting error) ---
Caught expected error: no such table: employees. The 'employees' table no longer exists.

## Close SQL Connection

### Subtask:
Close the database connection to release resources after all operations are complete.

**Reasoning**:
To complete the subtask of closing the database connection, I need to call the `close()` method on the connection object and then print a confirmation message.

In [ ]:
conn.close()
print("Database connection closed successfully.")

Database connection closed successfully.

## Final Task

### Subtask:
Summarize the entire demonstration, highlighting the key SQL commands (DDL, DML, DCL, TCL) and their functions, as well as the effects observed on the dataset.

## Summary:

### Data Analysis Key Findings

*   An in-memory SQLite database connection was successfully established and subsequently closed, demonstrating basic database connection management.
*   **DDL (Data Definition Language) Commands:**
    *   The `CREATE TABLE` command was used to define and create an `employees` table with `id` (INTEGER PRIMARY KEY), `name` (TEXT), and `salary` (INTEGER) columns.
    *   The `ALTER TABLE` command successfully added a new `department` column of type `TEXT` with a `DEFAULT` value of 'Unassigned' to the `employees` table. Existing entries received the default value.
    *   The `DROP TABLE` command successfully removed the `employees` table, as verified by an `sqlite3.OperationalError` upon attempting to query the table afterwards.
*   **DML (Data Manipulation Language) Commands:**
    *   The `INSERT INTO` command was used to populate the `employees` table with initial data (Alice: \$60,000, Bob: \$75,000, Charlie: \$80,000) and later for transaction demonstrations (Eve: \$90,000).
    *   The `SELECT` command was demonstrated in three ways:
        *   `SELECT *` retrieved all data from the table.
        *   `SELECT name, salary` retrieved specific columns.
        *   `SELECT name, salary WHERE salary > 70000` filtered results, yielding Bob (\$75,000) and Charlie (\$80,000).
    *   The `UPDATE` command modified Bob's salary from \$75,000 to \$85,000.
    *   The `DELETE FROM` command removed 'Charlie' from the `employees` table, demonstrating the importance of the `WHERE` clause for targeted deletion.
*   **DCL (Data Control Language) Commands:**
    *   `GRANT` and `REVOKE` were conceptually explained as commands for managing user permissions and access control, though noted as not fully functional or demonstrable in a simple in-memory SQLite environment due to its lightweight nature.
*   **TCL (Transaction Control Language) Commands:**
    *   The `ROLLBACK` command successfully undid the insertion of 'David', demonstrating how uncommitted changes can be reverted.
    *   The `COMMIT` command successfully saved the insertion of 'Eve', making the change permanent within the database session.

### Insights or Next Steps

*   The demonstration provided a comprehensive overview of fundamental SQL operations (DDL, DML, TCL) and the conceptual understanding of DCL commands within a lightweight SQLite environment.
*   For future database interactions, consider exploring more complex SQL features such as joins, subqueries, views, and stored procedures, especially in persistent, multi-user database systems where DCL commands and advanced transaction management become critical.